.dropdown-button {
    background: white;
    padding: 15px;
    font-size: 1.3rem;
    color: #e85255;
    border-color: #bb8182;
    border-radius: 5px;
    min-width: "auto";
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    font-size: 1.3rem;
    display: none;
    position: absolute;
    padding: 5px;
    background-color: whitesmoke;
    min-width: 150px;
    z-index: 100;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
}
.dropdown-content select {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #bb8182;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropdown-button {
    background-color: #e85255;
    color: white;
}
