.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: "twayair";
    src: url("./assets/fonts/tway_air.ttf");
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 360px) {
    html {
        font-size: 11px;
    }
}

@media (min-width: 361px) and (max-width: 399px) {
    html {
        font-size: 11px;
    }
}

@media (min-width: 400px) and (max-width: 519px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 520px) and (max-width: 639px) {
    html {
        font-size: 12px;
    }
}
/* 2번모니터 절반*/

@media (min-width: 640px) and (max-width: 759px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 760px) {
    html {
        font-size: 12px;
    }
}
/* 1, 2번모니터 */
